.bg-dark{
    background-color: #FFFFFF!important;
}

.bg-2 {
    background-color: #FFFFFF;
}

.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 40px;
  letter-spacing: 5px;
}

main { 
    padding-top: 5px;
  padding-bottom: 5px;
  font-size: 90px;
  letter-spacing: 5px;
}
.
}
body {
  font: 20px "Montserrat", sans-serif;
  line-height: 2.0;
  color: black;
}

body 
{
    background-color: #d2ede9;
}

body {
    color: black; 
}
div{
    color:black;
}


body 
{
    background-color: #d2ede9;
}

h5{ 
 font: 20px "Montserrat", sans-serif;
  line-height: 2.0;
  color: darkslategrey;
}

.container-fluid{
    background-color: #d2ede9;
}

h3{
    color:aliceblue;
    background-color: darkslategrey;
    
}
p{
    background-color:#d2ede9;